body {
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-gap: 0px;
    grid-template-rows: .35fr 2fr .1fr;
    grid-template-columns: 150px 150px 1fr 150px;
    min-height: 100vh;
    min-width: 100vw;
}

.header {
    /* border: 2px solid green; */
    /* border-radius: 10px; */
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
    /* background-color: rgba(87, 82, 82,.9); */
    background: linear-gradient(to bottom, #575252 0%, #ffffff 125%);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100vw;
}

.nameArea {
    /* border: 2px solid red; */
    border-radius: 0 50px 0 0;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 4em;
    align-items: center;
    padding: 0 10px;
    margin-left: 0px;
    background-color: rgba(87, 82, 82, 1);
}

.nav {
    /* border: 2px solid red; */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navItem {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    align-self: stretch;
    /* padding: 10px 20px; */
    color: white;
    font-size: 1.6em;
}

.mainSection {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-width: 100vw;
    background-color: rgba(87, 82, 82, 1);
}

.footer {
    /* border: 2px solid yellow; */
    color: white;
    grid-row: 3;
    grid-column: 1 / span 4;
    background-color: rgba(87, 82, 82, 0.7);
    min-width: 100vw;
    /* background: linear-gradient(to top, #000000 0%, rgba(87, 82, 82, 1) 100%); */
}

.navItem a {
    /* border: 2px solid red; */
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 10px 20px;
    border-radius: 50px 50px 0 0;

    -webkit-transition: background-color 0.5s ease,
        font-size 0.5s ease;
    -moz-transition: background-color 0.5s ease,
        font-size 0.5s ease;
    -o-transition: background-color 0.5s ease,
        font-size 0.5s ease;
    transition: background-color 0.5s ease,
        font-size 0.5s ease;
}

a:hover {
    background-color: rgba(43, 53, 116, 0.5);
    font-size: 1.65rem;
}

.mainContent {
    display: none;
    border: 2px dashed green;
    min-width: 50vw;
    min-height: 50vh;
    max-height: inherit;
    background-color: rgba(87, 82, 82,.25);



    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.mainContentObj {

}

.profilePic {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    /* border: 1px solid grey; */
    
    -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:    3px 3px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow:         1px 1px 5px 2px rgba(0, 0, 0, 0.4);
}

